body {
    background-color: lightblue;
    margin: 0;
    font-family: 'Arial', serif;
}

h1{
    text-align: center;
}

#content {
    background-color: lightblue;
    width: 95%;
    margin: 0 auto;
    min-height: 600px;
    padding: 10px;
    text-align: center;
}

#listDiv{
    font-size:20px
}

#navigation li {
    list-style: none;
    display: block;
    float: left;
    margin: 1em;
}

#navigation li a {
    text-shadow: 0 2px 1px rgba(0,0,0,0.5);
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 1.6em;
    margin: 0 .5em;
}

#navigation li a:hover {
    margin-top: 2px;
}

#navigation_container {
    margin: 0 auto;
    width: 1400px;
}

.rectangle {
    background: #e5592e;
    height: 62px;
    position: relative;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    border-radius: 3px;
    z-index: 500; /* the stack order: foreground */
    margin: 3em 0;
}

tr {
    text-align: center;
}

td {
    text-align: left;
}

th {
    text-align: left;
}

td.last {
    text-align: right;
}

th.last {
    text-align: right;
}



.editButton, .deleteButton,.deleteManagerButton, #saveButton, #cancelButton {
    color: black;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.editButton {
    background-color: silver;
}

.editButton:hover {
    background-color: grey;
}

#newButton {
    background-color: cornflowerblue;
    text-align: center;
}

#newButton:hover {
    background-color: dodgerblue;
}

.deleteButton,.deleteManagerButton, #cancelButton {
    background-color: indianred;
    margin-left: 10px;
}

.deleteButton:hover,.deleteManagerButton:hover #cancelButton:hover {
    background-color: firebrick;
}

#saveButton {
    background-color: lightgreen;
}

#saveButton:hover {
    background-color: forestgreen;
}

form div {
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
}

.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
    background-color: #e5592e;
    width: 25%;
}

.right {
    width: 75%;
}

.label {
    width: 100px;
    margin-bottom: 0;
    display: inline-block;
}

.floatRight {
    float: right;
}

#editDiv {
    display: none;
    content: "";
    /*display: table;*/
    clear: both;
}

table {
    width: 90%;
}


* {
    box-sizing: border-box;
}

.currentManagerTitle{
    text-align: left;
}


#newEmailLabel{
    width:20%;
}

#levelExplain{
    text-align:left;
    font-style:italic;
}