body {
    background-color: lightblue;
    margin: 0;
    font-family: 'Arial', serif;
}

h1{
    text-align: center;
}

#content {
    background-color: lightblue;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 10px;
    text-align: center;
}