body {
    background-color: lightblue;
    margin: 0;
    font-family: 'Arial', serif;
}

h1{
    text-align: center;
}

#content {
    background-color: lightblue;
    width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 10px;
}

.signupInput {
    background-color: white;
    font-size: 24pt;
    margin-top: 5px;
    margin-left: 20px;
}

.signupDiv {
    background-color: lightblue;
    font-size: 24pt;
    margin-top: 5px;
    margin-left: 20px;
}

